//*********************************************
// * Layout
//*********************************************
#p-detail{
  @media #{$more_than_large}{
    .l-main{
      margin-bottom: 5.0rem;
    }
  }
  @media #{$less_than_large}{
    .l-main{
      margin:0 1.0rem;
    }
  }
  .l-main_lf_1{
    margin: 3.8rem 0 5.0rem;
  }
  @media #{$more_than_large}{
    .l-col-lg-8{
      margin-right: 1.0rem;
    }
    .l-col-lg-4{
      margin-left: 1.0rem;
    }
  }
  .l-aside_rg_1{
    margin-top:4.0rem;
  }
}


//*********************************************
// * Module
//*********************************************

//****************************
// override
//****************************

#p-detail{
  .c-detail h1{
    font-size: 1.6rem;
    font-weight:bold;
    color:#666;
    border-bottom:1px solid #00ACC1;
  }
  .c-detail h1 span{
    padding: 0 1.0rem;
  }
  .c-detail h3{
    font-weight:bold;
    font-size: 1.4rem;
    color:#666;
  }
  .c-detail h4{    
    font-size: 1.4rem;
    font-weight: normal;
    border-left: 5px solid #DDD;  
    padding-left: 5px;
    color:#666;
  }
  .c-detail p{
    line-height: 1.6;
    color: #666;
    margin-bottom:1.5em;
  }

  .c-detail .ui.message{
    margin-top: 50px;
    margin-bottom: 90px;
  }

  .c-detail .ui.ordered.list{
    color:#666;
  }

  .c-detail .ui.ordered.list a{
    color:#4183c4;
  }

  .c-detail .ui.ordered.list a:hover{
    text-decoration: underline;
  }

  .c-detail .ui.celled.list{
    color: #666;
  }

  .c-detail .ui.celled.list .item{
    padding: 0.8em;
    margin-bottom:0;
    display:flex;
    line-height:1.6;
  }

  .c-detail .ui.celled.list .checkmark.icon{
    margin-right:0.7rem;
  }

  .c-detail .ui.ordered.list .item{
    color:#666;
    line-height:inherit;
  }
  .c-detail .ui.grey.table{
    color:#666;
  }
}

//****************************
// block
//****************************
#p-detail{
  .c-block__subheader  {
    color: $base_theme_color;
    border-left:0.5rem solid $base_theme_color;
    padding-left:1rem;
    font-weight:normal;
  }
  .c-block__section{
    margin:3.5rem 0 6.0rem;
  }
  .c-block__thirdheader{
    color: $base_text_color;
    font-size:1.6rem;
    margin-bottom:1.5em;
  }
}
