.l-inner {
  max-width: 1020px;
  margin: 0 auto;
}

@media screen and (min-width: 960px) {
  .l-row {
    display: -webkit-box;
    display: flex;
  }
  .l-col {
    width: 100%;
  }
  .l-col-lg-1 {
    width: 8.3333%;
  }
  .l-col-lg-2 {
    width: 16.6666%;
  }
  .l-col-lg-3 {
    width: 25.0000%;
  }
  .l-col-lg-4 {
    width: 33.3333%;
  }
  .l-col-lg-5 {
    width: 41.6666%;
  }
  .l-col-lg-6 {
    width: 50.0000%;
  }
  .l-col-lg-7 {
    width: 58.3333%;
  }
  .l-col-lg-8 {
    width: 66.6666%;
  }
  .l-col-lg-9 {
    width: 75.0000%;
  }
  .l-col-lg-10 {
    width: 83.3333%;
  }
  .l-col-lg-11 {
    width: 91.6666%;
  }
  .l-col-lg-12 {
    width: 100.0000%;
  }
}

@media screen and (min-width: 680px) and (max-width: 959px) {
  .l-row.l-md-row {
    display: -webkit-box;
    display: flex;
  }
  .l-col-md-1 {
    width: 8.3333%;
  }
  .l-col-md-2 {
    width: 16.6666%;
  }
  .l-col-md-3 {
    width: 25.0000%;
  }
  .l-col-md-4 {
    width: 33.3333%;
  }
  .l-col-md-5 {
    width: 41.6666%;
  }
  .l-col-md-6 {
    width: 50.0000%;
  }
  .l-col-md-7 {
    width: 58.3333%;
  }
  .l-col-md-8 {
    width: 66.6666%;
  }
  .l-col-md-9 {
    width: 75.0000%;
  }
  .l-col-md-10 {
    width: 83.3333%;
  }
  .l-col-md-11 {
    width: 91.6666%;
  }
  .l-col-md-12 {
    width: 100.0000%;
  }
}

@media screen and (max-width: 679px) {
  .l-sm-row {
    display: -webkit-box;
    display: flex;
    box-sizing: border-box;
  }
  .l-col-sm-1 {
    width: 8.3333%;
  }
  .l-col-sm-2 {
    width: 16.6666%;
  }
  .l-col-sm-3 {
    width: 25.0000%;
  }
  .l-col-sm-4 {
    width: 33.3333%;
  }
  .l-col-sm-5 {
    width: 41.6666%;
  }
  .l-col-sm-6 {
    width: 50.0000%;
  }
  .l-col-sm-7 {
    width: 58.3333%;
  }
  .l-col-sm-8 {
    width: 66.6666%;
  }
  .l-col-sm-9 {
    width: 75.0000%;
  }
  .l-col-sm-10 {
    width: 83.3333%;
  }
  .l-col-sm-11 {
    width: 91.6666%;
  }
  .l-col-sm-12 {
    width: 100.0000%;
  }
}

.l-header__upper {
  background: #333;
}

.l-header__lower {
  background: #00ACC1;
}

.l-header__lower.fixed {
  background: #FCFCFC;
  position: fixed;
  width: 100%;
  z-index: 1;
  box-shadow: 0 0.1rem 0 0 #ECEEF0;
}

@media screen and (max-width: 679px) {
  .l-header__lower {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 959px) {
  .l-hero .l-inner {
    margin: 0 1.0rem;
  }
}

.b-gnav__list {
  display: -webkit-box;
  display: flex;
}

.b-gnav__item {
  width: 100%;
  height: 4.4rem;
  line-height: 4.4rem;
  text-align: center;
}

@media screen and (max-width: 679px) {
  .b-gnav__item.u-dn {
    display: none;
  }
}

.b-gnav__link {
  color: #FFF;
  display: block;
}

.b-gnav__link:hover {
  color: #FFF;
  background: #26C6DA;
  display: block;
  text-decoration: underline;
}

.fixed .b-gnav__link {
  color: #00ACC1;
  display: block;
  opacity: 0.8;
}

.fixed .b-gnav__link:hover {
  color: #00ACC1;
  background: #FCFCFC;
  display: block;
  text-decoration: underline;
}

.b-gnav__link.is-current {
  text-decoration: underline;
}

footer {
  background: #333;
  color: #FFF;
}

@media screen and (min-width: 680px) {
  footer {
    padding: 3.5rem 0;
  }
}

@media screen and (max-width: 679px) {
  footer {
    padding: 1.5rem 0;
  }
}

@media screen and (max-width: 959px) {
  footer {
    padding-left: 1.0rem;
    padding-right: 1.0rem;
  }
}

@media screen and (min-width: 680px) {
  .l-footer-logo {
    margin-bottom: 3.5rem;
  }
}

@media screen and (max-width: 679px) {
  .l-footer-logo {
    margin-bottom: 1.5rem;
  }
}

.c-footer {
  font-size: 1.1rem;
  width: 100%;
}

@media screen and (min-width: 960px) {
  .c-footer {
    display: -webkit-box;
    display: flex;
  }
}

@media screen and (min-width: 960px) {
  .c-footer__item {
    padding: 0 1.5rem;
  }
}

@media screen and (max-width: 959px) {
  .c-footer__item {
    margin-bottom: 2.0rem;
  }
}

.c-footer__itemHeader {
  font-size: 1.4rem;
}

@media screen and (min-width: 960px) {
  .c-footer li[data-id="footer-searchby-job"] {
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: 960px) {
  .c-footer li[data-id="footer-searchby-area"] {
    padding-left: 1.5rem;
  }
}

@media screen and (max-width: 959px) {
  .c-footer li[data-id="footer-searchby-job"] {
    padding-right: 0.5rem;
  }
  .c-footer li[data-id="footer-searchby-area"] {
    padding-left: 0.5rem;
  }
  .c-footer li[data-id="footer-searchby-job"],
  .c-footer li[data-id="footer-searchby-area"] {
    width: 50%;
  }
}

@media screen and (min-width: 960px) {
  .c-footer p[data-id="footer-knowhow"] {
    height: 20%;
  }
}

.c-footer a {
  display: block;
  line-height: 2;
  color: #949697;
}

.c-footer a:hover {
  color: #FFF;
}

.c-logo {
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1;
  padding: 0.5rem 0;
  display: inline-block;
}

.c-logo__link, .c-logo__link:hover {
  display: inherit;
  color: #FFF;
  font-size: 1.6rem;
}

@media screen and (min-width: 680px) {
  .c-logo__link img {
    height: 3.0rem;
    width: auto;
  }
}

@media screen and (max-width: 679px) {
  .c-logo__link img {
    height: 2.6rem;
    width: auto;
  }
}

#p-agent .c-voices, #p-site .c-voices, #p-itweb .c-voices, #p-haken .c-voices, #p-detail .c-voices {
  font-size: 1.4rem;
}

#p-agent .c-voices .ui.raised.segment, #p-site .c-voices .ui.raised.segment, #p-itweb .c-voices .ui.raised.segment, #p-haken .c-voices .ui.raised.segment, #p-detail .c-voices .ui.raised.segment {
  font-size: 100%;
  margin: 2.5rem 0;
}

#p-agent .c-voice__author, #p-site .c-voice__author, #p-itweb .c-voice__author, #p-haken .c-voice__author, #p-detail .c-voice__author {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

#p-agent .c-voice__avatar, #p-site .c-voice__avatar, #p-itweb .c-voice__avatar, #p-haken .c-voice__avatar, #p-detail .c-voice__avatar {
  width: 4em;
  height: 4em;
  float: none;
}

#p-agent .c-voice__avatar20m, #p-site .c-voice__avatar20m, #p-itweb .c-voice__avatar20m, #p-haken .c-voice__avatar20m, #p-detail .c-voice__avatar20m {
  background: url("/dist/image/human_avatar_20_m.png") no-repeat;
  background-size: contain;
  display: block;
  width: 100%;
  height: 100%;
}

#p-agent .c-voice__avatar30m, #p-site .c-voice__avatar30m, #p-itweb .c-voice__avatar30m, #p-haken .c-voice__avatar30m, #p-detail .c-voice__avatar30m {
  background: url("/dist/image/human_avatar_30_m.png") no-repeat;
  background-size: contain;
  display: block;
  width: 100%;
  height: 100%;
}

#p-agent .c-voice__avatar40m, #p-site .c-voice__avatar40m, #p-itweb .c-voice__avatar40m, #p-haken .c-voice__avatar40m, #p-detail .c-voice__avatar40m {
  background: url("/dist/image/human_avatar_40_m.png") no-repeat;
  background-size: contain;
  display: block;
  width: 100%;
  height: 100%;
}

#p-agent .c-voice__avatar20w, #p-site .c-voice__avatar20w, #p-itweb .c-voice__avatar20w, #p-haken .c-voice__avatar20w, #p-detail .c-voice__avatar20w {
  background: url("/dist/image/human_avatar_20_w.png") no-repeat;
  background-size: contain;
  display: block;
  width: 100%;
  height: 100%;
}

#p-agent .c-voice__avatar30w, #p-site .c-voice__avatar30w, #p-itweb .c-voice__avatar30w, #p-haken .c-voice__avatar30w, #p-detail .c-voice__avatar30w {
  background: url("/dist/image/human_avatar_30_w.png") no-repeat;
  background-size: contain;
  display: block;
  width: 100%;
  height: 100%;
}

#p-agent .c-voice__avatar40w, #p-site .c-voice__avatar40w, #p-itweb .c-voice__avatar40w, #p-haken .c-voice__avatar40w, #p-detail .c-voice__avatar40w {
  background: url("/dist/image/human_avatar_40_w.png") no-repeat;
  background-size: contain;
  display: block;
  width: 100%;
  height: 100%;
}

#p-agent .c-voice__meta, #p-site .c-voice__meta, #p-itweb .c-voice__meta, #p-haken .c-voice__meta, #p-detail .c-voice__meta {
  padding: 0 1.5rem;
}

#p-agent .c-voice__comment, #p-site .c-voice__comment, #p-itweb .c-voice__comment, #p-haken .c-voice__comment, #p-detail .c-voice__comment {
  margin: 1.5rem 0 0;
}

#p-agent .c-voice__comment .text, #p-site .c-voice__comment .text, #p-itweb .c-voice__comment .text, #p-haken .c-voice__comment .text, #p-detail .c-voice__comment .text {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #666;
}

#p-agent .c-double__buttons, #p-site .c-double__buttons, #p-itweb .c-double__buttons, #p-haken .c-double__buttons, #p-detail .c-double__buttons, #p-jobinfo .c-double__buttons {
  margin: 5.0em 0 3.0em;
}

@media screen and (min-width: 960px) {
  #p-agent .c-double__buttons, #p-site .c-double__buttons, #p-itweb .c-double__buttons, #p-haken .c-double__buttons, #p-detail .c-double__buttons, #p-jobinfo .c-double__buttons {
    display: -webkit-box;
    display: flex;
  }
  #p-agent .c-double__buttons .c-button, #p-site .c-double__buttons .c-button, #p-itweb .c-double__buttons .c-button, #p-haken .c-double__buttons .c-button, #p-detail .c-double__buttons .c-button, #p-jobinfo .c-double__buttons .c-button {
    width: 50%;
    margin: 0 2.0rem;
  }
}

#p-agent .c-button, #p-site .c-button, #p-itweb .c-button, #p-haken .c-button, #p-detail .c-button, #p-jobinfo .c-button {
  width: 100%;
  font-size: 1.4rem;
  font-weight: normal;
  padding-top: 2.0rem;
  padding-bottom: 2.0rem;
  margin-bottom: 2.0rem;
  box-sizing: border-box;
}

#p-agent .c-singlebutton, #p-site .c-singlebutton, #p-itweb .c-singlebutton, #p-haken .c-singlebutton, #p-detail .c-singlebutton, #p-jobinfo .c-singlebutton {
  width: 100%;
  font-size: 1.4rem;
  line-height: 1.6;
  font-weight: normal;
  padding-top: 2.0rem;
  padding-bottom: 2.0rem;
  box-sizing: border-box;
}

.c-hero {
  width: 100%;
  height: 35.0rem;
  color: #FFF;
  position: relative;
  display: block;
}

@media screen and (max-width: 679px) {
  .c-hero {
    height: 26.0rem;
  }
}

#p-site .c-breadcrumb, #p-itweb .c-breadcrumb, #p-agent .c-breadcrumb {
  padding: 1.0rem 0;
  font-size: 1.2rem;
}

#p-site .c-breadcrumb a, #p-site .c-breadcrumb span, #p-itweb .c-breadcrumb a, #p-itweb .c-breadcrumb span, #p-agent .c-breadcrumb a, #p-agent .c-breadcrumb span {
  line-height: 1.6;
}

#p-site .c-breadcrumb a, #p-itweb .c-breadcrumb a, #p-agent .c-breadcrumb a {
  color: #FFF;
  text-decoration: underline;
}

#p-site .c-breadcrumb i, #p-itweb .c-breadcrumb i, #p-agent .c-breadcrumb i {
  color: #FFF;
}

#p-search .c-breadcrumb, #p-detail .c-breadcrumb, #p-jobinfo .c-breadcrumb {
  padding: 1.0rem 0;
  font-size: 1.2rem;
}

#p-search .c-breadcrumb a, #p-search .c-breadcrumb span, #p-detail .c-breadcrumb a, #p-detail .c-breadcrumb span, #p-jobinfo .c-breadcrumb a, #p-jobinfo .c-breadcrumb span {
  line-height: 1.6;
}

#p-search .c-breadcrumb a, #p-detail .c-breadcrumb a, #p-jobinfo .c-breadcrumb a {
  color: #00ACC1;
  text-decoration: underline;
}

#p-search .c-breadcrumb i, #p-detail .c-breadcrumb i, #p-jobinfo .c-breadcrumb i {
  color: #00ACC1;
}

#p-search .c-breadcrumb span, #p-detail .c-breadcrumb span, #p-jobinfo .c-breadcrumb span {
  color: #666;
}

#p-search .c-searchCassette, #p-jobinfo .c-searchCassette {
  margin-bottom: 3.0rem;
}

#p-search .c-searchCassette h2, #p-jobinfo .c-searchCassette h2 {
  color: #666;
}

#p-search .c-searchCassette__lead .c-searchCassette__link, #p-jobinfo .c-searchCassette__lead .c-searchCassette__link {
  font-size: 1.2rem;
}

#p-search .c-searchCassette table, #p-jobinfo .c-searchCassette table {
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  #p-search .c-searchCassette table th, #p-jobinfo .c-searchCassette table th {
    background: #F8F8F8;
    padding-left: 1em;
  }
}

#p-search .c-searchCassette table tr:nth-of-type(2) th, #p-jobinfo .c-searchCassette table tr:nth-of-type(2) th {
  border-top: 1px solid rgba(34, 36, 38, 0.1);
  border-bottom: 1px solid rgba(34, 36, 38, 0.1);
}

#p-search .c-searchCassette__buttons, #p-jobinfo .c-searchCassette__buttons {
  display: -webkit-box;
  display: flex;
  margin: 3.0rem auto 1.0rem;
}

#p-search .c-searchCassette__button, #p-jobinfo .c-searchCassette__button {
  width: 50%;
  margin: 0 0.5rem;
  padding: 0;
  font-size: 1.2rem;
  font-weight: normal;
}

#p-search .c-searchCassette__button .c-searchCassette__link, #p-jobinfo .c-searchCassette__button .c-searchCassette__link {
  color: #FFF;
  display: block;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}

@media screen and (min-width: 960px) {
  #p-top .l-main {
    margin-bottom: 5.0rem;
  }
}

@media screen and (max-width: 959px) {
  #p-top .l-main {
    margin: 0 1.0rem;
  }
}

#p-top .l-section_title {
  color: #D7BF9A;
  font-size: 1.6rem;
  font-weight: normal;
  margin-bottom: 3.0rem;
}

@media screen and (max-width: 767px) {
  #p-top .l-section_title {
    font-size: 1.4rem;
  }
}

#p-top .l-main_lf_1, #p-top .l-main_lf_2, #p-top .l-main_lf_3, #p-top .l-main_lf_4 {
  margin: 3.0rem 0 5.0rem;
}

@media screen and (min-width: 960px) {
  #p-top .l-col-lg-8 {
    margin-right: 1.0rem;
  }
  #p-top .l-col-lg-4 {
    margin-left: 1.0rem;
  }
}

#p-top .l-main_lf_2 .c-feature__item {
  margin-bottom: 4.5rem;
}

#p-top .l-search_by {
  margin-bottom: 3.0rem;
}

#p-top .l-search_by h3 {
  font-size: 1.4rem;
  font-weight: normal;
  color: #999;
}

@media screen and (min-width: 680px) {
  #p-top .c-search__list > .l-row {
    margin-left: -1.3rem;
    margin-bottom: 2.0rem;
  }
}

@media screen and (max-width: 679px) {
  #p-top .l-row.l-md-row.is-sp {
    margin-bottom: 0;
    overflow: hidden;
  }
}

#p-top .c-pickup__item {
  display: block;
  width: 100%;
  height: 30.0rem;
  position: relative;
}

@media screen and (min-width: 680px) {
  #p-top .c-pickup__item {
    height: 30.0rem;
  }
}

@media screen and (max-width: 679px) {
  #p-top .c-pickup__item {
    height: 20.0rem;
  }
}

#p-top .c-pickup__site {
  background: url("/dist/image/73807901.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#p-top .c-pickup__agent {
  background: url("/dist/image/99302690@sq.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#p-top .c-pickup__title, #p-top .c-pickup__title:hover {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 1.0rem;
  line-height: 1.6;
  color: #FFF;
  background: rgba(0, 0, 0, 0.2);
}

#p-top .c-pickup__title:hover {
  background: rgba(0, 0, 0, 0.3);
}

#p-top .c-feature__item:hover {
  opacity: 0.8;
}

#p-top .c-feature__link {
  color: #666;
}

#p-top .c-feature__lead {
  font-size: 1.4rem;
  font-weight: normal;
}

#p-top .c-feature__excerpt {
  color: #999;
  font-size: 1.2rem;
  line-height: 1.6;
}

#p-top .c-ranking__item:hover {
  opacity: 0.8;
}

@media screen and (max-width: 959px) {
  #p-top .c-ranking__item {
    margin-bottom: 3.0rem;
  }
}

#p-top .c-ranking__thumb {
  width: 100%;
  height: 13.0rem;
  line-height: 13.0rem;
}

#p-top .c-ranking__site {
  background: url("/dist/image/93801880.jpg");
  background-size: cover;
}

@media screen and (max-width: 959px) {
  #p-top .c-ranking__site {
    background-position-y: 30%;
  }
}

#p-top .c-ranking__agent {
  background: url("/dist/image/99302690.jpg");
  background-size: cover;
}

#p-top .c-ranking__itweb {
  background: url("/dist/image/100716472.jpg");
  background-size: cover;
}

#p-top .c-ranking__haken {
  background: url("/dist/image/102617459.jpg");
  background-size: cover;
}

@media screen and (max-width: 959px) {
  #p-top .c-ranking__haken {
    background-position-y: 20%;
  }
}

#p-top .c-ranking__link {
  display: block;
  color: #666;
}

@media screen and (min-width: 960px) {
  #p-top .c-ranking__link {
    padding-left: 1.0rem;
  }
}

@media screen and (max-width: 959px) {
  #p-top .c-ranking__link {
    padding: 0.5rem;
  }
}

#p-top .c-ranking__lead {
  font-size: 1.4rem;
  font-weight: normal;
}

#p-top .c-ranking__excerpt {
  font-size: 1.2rem;
  color: #999;
  line-height: 1.6;
}

#p-top .c-search__item {
  height: 7.0rem;
  text-align: center;
}

#p-top .c-search__item:hover {
  opacity: 0.8;
}

@media screen and (min-width: 680px) {
  #p-top .c-search__item {
    margin-left: 1.3rem;
  }
}

@media screen and (max-width: 679px) {
  #p-top .c-search__item {
    float: left;
    width: 50%;
    margin-bottom: 1.0rem;
  }
}

#p-top .c-search__link {
  color: #FFF;
  display: block;
  height: 100%;
  background: #DEDEDE;
  box-sizing: border-box;
}

#p-top .c-search__meta {
  display: inline-block;
  width: 100%;
  height: 100%;
}

#p-top .c-search__itweb {
  background: url("/dist/image/107797389.jpg");
  background-size: cover;
}

#p-top .c-search__creative {
  background: url("/dist/image/77940519.jpg");
  background-size: cover;
}

#p-top .c-search__bkoffice {
  background: url("/dist/image/114337165.jpg");
  background-size: cover;
}

#p-top .c-search__sales {
  background: url("/dist/image/53278734.jpg");
  background-size: cover;
}

#p-top .c-search__medical {
  background: url("/dist/image/98753963.jpg");
  background-size: cover;
}

#p-top .c-search__food {
  background: url("/dist/image/93086529.jpg");
  background-size: cover;
}

#p-top .c-search__logi {
  background: url("/dist/image/105663084.jpg");
  background-size: cover;
}

#p-top .c-search__care {
  background: url("/dist/image/104466559.jpg");
  background-size: cover;
}

#p-top .c-search__marke {
  background: url("/dist/image/97033329.jpg");
  background-size: cover;
}

#p-top .c-search__edu {
  background: url("/dist/image/82156814.jpg");
  background-size: cover;
}

#p-top .c-search__finance {
  background: url("/dist/image/96309663.jpg");
  background-size: cover;
}

#p-top .c-search__estate {
  background: url("/dist/image/92939777.jpg");
  background-size: cover;
}

#p-top .c-search__service {
  background: url("/dist/image/97846215.jpg");
  background-size: cover;
}

#p-top .c-search__prod {
  background: url("/dist/image/93077553.jpg");
  background-size: cover;
}

#p-top .c-search__prof {
  background: url("/dist/image/118957053.jpg");
  background-size: cover;
}

#p-top .c-search__other {
  background: rgba(0, 0, 0, 0.7);
}

#p-top .c-search__hokkaido {
  background: url("/dist/image/map-hokkaido.jpg") #EEE no-repeat;
  background-size: contain;
  background-position: center;
  color: #666;
}

#p-top .c-search__tohoku {
  background: url("/dist/image/map-tohoku.jpg") #EEE no-repeat;
  background-size: contain;
  background-position: center;
  color: #666;
}

#p-top .c-search__kanto {
  background: url("/dist/image/map-kanto.jpg") #EEE no-repeat;
  background-size: contain;
  background-position: center;
  color: #666;
}

#p-top .c-search__tokai {
  background: url("/dist/image/map-tokai.jpg") #EEE no-repeat;
  background-size: contain;
  background-position: center;
  color: #666;
}

#p-top .c-search__hokushin {
  background: url("/dist/image/map-hokushin.jpg") #EEE no-repeat;
  background-size: contain;
  background-position: center;
  color: #666;
}

#p-top .c-search__kansai {
  background: url("/dist/image/map-kansai.jpg") #EEE no-repeat;
  background-size: contain;
  background-position: center;
  color: #666;
}

#p-top .c-search__chushikoku {
  background: url("/dist/image/map-chushikoku.jpg") #EEE no-repeat;
  background-size: contain;
  background-position: center;
  color: #666;
}

#p-top .c-search__kyushu {
  background: url("/dist/image/map-kyushu.jpg") #EEE no-repeat;
  background-size: contain;
  background-position: center;
  color: #666;
}

@media screen and (max-width: 679px) {
  #p-top .c-search__list .c-search__item:nth-of-type(2n) .c-search__link {
    margin-left: 0.5rem;
  }
  #p-top .c-search__list .c-search__item:first-child .c-search__link,
  #p-top .c-search__list .c-search__item:nth-of-type(2n+1) .c-search__link {
    margin-right: 0.5rem;
  }
}

@media screen and (min-width: 960px) {
  #p-site .l-main {
    margin-bottom: 5.0rem;
  }
}

@media screen and (max-width: 959px) {
  #p-site .l-main {
    margin: 0 1.0rem;
  }
}

#p-site .l-main_lf_1 {
  margin: 3.0rem 0;
}

@media screen and (min-width: 960px) {
  #p-site .l-col-lg-8 {
    margin-right: 1.0rem;
  }
  #p-site .l-col-lg-4 {
    margin-left: 1.0rem;
  }
}

#p-site .c-hero__site {
  background: url("/dist/image/hero_of_site.jpg") no-repeat;
  background-size: cover;
}

#p-site .c-hero__title {
  position: absolute;
  font-size: 1.8rem;
  font-weight: normal;
  top: 15.7rem;
}

@media screen and (max-width: 679px) {
  #p-site .c-hero__title {
    font-size: 1.6rem;
    top: 11.4rem;
  }
}

#p-site .c-headline {
  color: #666;
  line-height: 1.6;
}

#p-site .c-ranking__title {
  color: #666;
  border-bottom: 1px solid #00ACC1;
}

#p-site .c-ranking__title span {
  padding: 0 1.0rem;
}

#p-site .description {
  margin-top: 0 !important;
}

#p-site .description p {
  color: #666;
  line-height: 1.6;
}

#p-site .c-ranking__catch {
  margin: 3.0em 0 1.0em;
  color: #c10000;
  font-weight: bold;
  display: block;
}

#p-site .c-ranking__points {
  color: #666;
}

#p-site .c-ranking__point {
  margin-bottom: 0.5em;
  display: -webkit-box;
  display: flex;
}

#p-site .c-ranking__pointIcon {
  margin-right: 0.7rem;
}

@media screen and (min-width: 960px) {
  #p-itweb .l-main {
    margin-bottom: 5.0rem;
  }
}

@media screen and (max-width: 959px) {
  #p-itweb .l-main {
    margin: 0 1.0rem;
  }
}

#p-itweb .l-main_lf_1 {
  margin: 3.0rem 0;
}

@media screen and (min-width: 960px) {
  #p-itweb .l-col-lg-8 {
    margin-right: 1.0rem;
  }
  #p-itweb .l-col-lg-4 {
    margin-left: 1.0rem;
  }
}

#p-itweb .c-hero__itweb {
  background: url("/dist/image/hero_of_itweb.jpg") no-repeat;
  background-size: cover;
}

#p-itweb .c-hero__title {
  position: absolute;
  font-size: 1.8rem;
  font-weight: normal;
  top: 15.7rem;
}

@media screen and (max-width: 679px) {
  #p-itweb .c-hero__title {
    font-size: 1.6rem;
    top: 11.4rem;
  }
}

#p-itweb .c-headline {
  color: #666;
  line-height: 1.6;
}

#p-itweb .c-switchmenu {
  margin: 3.0rem 0 5.0rem;
  font-size: 1.2rem;
  text-align: center;
  display: -webkit-box;
  display: flex;
}

#p-itweb .c-switchitem {
  width: 50%;
  color: #666;
  display: inline-block;
  text-align: center;
  padding: 1em 0.5em;
  line-height: 1.6;
}

#p-itweb .c-switchitem.active {
  background: #FAFAFA;
}

#p-itweb .c-ranking__title {
  color: #666;
  border-bottom: 1px solid #00ACC1;
}

#p-itweb .c-ranking__title span {
  padding: 0 1.0rem;
}

#p-itweb .description {
  margin-top: 0 !important;
}

#p-itweb .description p {
  color: #666;
  line-height: 1.6;
}

#p-itweb .c-ranking__catch {
  margin: 3.0em 0 1.0em;
  color: #c10000;
  font-weight: bold;
  display: block;
}

#p-itweb .c-ranking__points {
  color: #666;
}

#p-itweb .c-ranking__point {
  margin-bottom: 0.5em;
  display: -webkit-box;
  display: flex;
}

#p-itweb .c-ranking__pointIcon {
  margin-right: 0.7rem;
}

@media screen and (min-width: 960px) {
  #p-agent .l-main {
    margin-bottom: 5.0rem;
  }
}

@media screen and (max-width: 959px) {
  #p-agent .l-main {
    margin: 0 1.0rem;
  }
}

#p-agent .l-main_lf_1 {
  margin: 3.0rem 0;
}

@media screen and (min-width: 960px) {
  #p-agent .l-col-lg-8 {
    margin-right: 1.0rem;
  }
  #p-agent .l-col-lg-4 {
    margin-left: 1.0rem;
  }
}

#p-agent .c-hero__site {
  background: url("/dist/image/hero_of_site.jpg") no-repeat;
  background-size: cover;
}

#p-agent .c-hero__title {
  position: absolute;
  font-size: 1.8rem;
  font-weight: normal;
  top: 15.7rem;
}

@media screen and (max-width: 679px) {
  #p-agent .c-hero__title {
    font-size: 1.6rem;
    top: 11.4rem;
  }
}

#p-agent .c-headline {
  color: #666;
  line-height: 1.6;
}

#p-agent .c-ranking__title {
  color: #666;
  border-bottom: 1px solid #00ACC1;
}

#p-agent .c-ranking__title span {
  padding: 0 1.0rem;
}

#p-agent .description {
  margin-top: 0 !important;
}

#p-agent .description p {
  color: #666;
  line-height: 1.6;
}

#p-agent .c-ranking__catch {
  margin: 3.0em 0 1.0em;
  color: #c10000;
  font-weight: bold;
  display: block;
}

#p-agent .c-ranking__points {
  color: #666;
}

#p-agent .c-ranking__point {
  margin-bottom: 0.5em;
  display: -webkit-box;
  display: flex;
}

#p-agent .c-ranking__pointIcon {
  margin-right: 0.7rem;
}

@media screen and (min-width: 960px) {
  #p-search .l-main {
    margin-bottom: 5.0rem;
  }
}

@media screen and (max-width: 959px) {
  #p-search .l-main {
    margin: 0 1.0rem;
  }
}

#p-search .l-main_lf_1 {
  margin: 3.0rem 0;
}

@media screen and (min-width: 960px) {
  #p-search .l-col-lg-8 {
    margin-right: 1.0rem;
  }
  #p-search .l-col-lg-4 {
    margin-left: 1.0rem;
  }
}

#p-search .l-searchPanel {
  margin: 2.0rem auto;
}

#p-search h1 {
  color: #666;
  font-weight: normal;
}

#p-search .c-searchPanel {
  width: 100%;
  font-size: 1.2rem;
}

#p-search .c-searchPanel td {
  padding: 1.5rem;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  #p-search .c-searchPanel td {
    background: #FFF;
  }
}

#p-search .c-searchPanel button {
  float: left;
  clear: both;
  font-size: 1.2rem;
  font-weight: normal;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

#p-search .c-searchPanel__selectedlist {
  margin-left: calc(2.5em * 2 + 4.8rem + 1.0em);
}

@media screen and (min-width: 680px) {
  #p-search .c-searchPanel .input {
    width: 30.0rem;
  }
}

@media screen and (max-width: 679px) {
  #p-search .c-searchPanel .input {
    width: 100%;
  }
}

#p-search .c-searchPanel tfoot {
  text-align: right;
}

#p-search .c-searchPanel .small.button {
  font-size: 1.2rem;
  font-weight: normal;
}

@media screen and (min-width: 768px) {
  #p-search .c-searchPanel .small.button {
    padding-left: 2.5em;
    padding-right: 2.5em;
    margin: 0 2.0rem;
  }
}

@media screen and (max-width: 767px) {
  #p-search .c-searchPanel .small.button {
    width: 100%;
    height: 4.4rem;
    line-height: 4.4rem;
    margin: 1.0rem auto;
    padding: 0;
  }
}

#p-search .c-searchResult {
  color: #666;
}

@media screen and (min-width: 768px) {
  #p-search .c-searchResult {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  #p-search .c-searchResult {
    margin: 0 auto;
    text-align: center;
  }
}

#p-search .c-searchResult__count {
  text-align: left;
}

#p-search .c-searchResult__count strong {
  font-size: 120%;
  font-weight: bold;
}

#p-search .c-searchResult__pagination {
  font-size: 1.0rem;
  height: 4.5rem;
  text-align: center;
}

#p-search .c-searchResult__pagination .item {
  box-sizing: content-box;
}

#p-search .c-searchSidePanel .ui.card {
  width: 100%;
}

@media screen and (min-width: 960px) {
  #p-search .c-searchSidePanel .ui.card {
    max-width: 30.0rem;
  }
}

#p-search .c-searchSidePanel .header {
  color: #666;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.6;
}

#p-search .c-searchSidePanel .description {
  font-size: 1.2rem;
}

@media screen and (min-width: 960px) {
  #p-detail .l-main {
    margin-bottom: 5.0rem;
  }
}

@media screen and (max-width: 959px) {
  #p-detail .l-main {
    margin: 0 1.0rem;
  }
}

#p-detail .l-main_lf_1 {
  margin: 3.8rem 0 5.0rem;
}

@media screen and (min-width: 960px) {
  #p-detail .l-col-lg-8 {
    margin-right: 1.0rem;
  }
  #p-detail .l-col-lg-4 {
    margin-left: 1.0rem;
  }
}

#p-detail .l-aside_rg_1 {
  margin-top: 4.0rem;
}

#p-detail .c-detail h1 {
  font-size: 1.6rem;
  font-weight: normal;
  color: #666;
  border-bottom: 1px solid #00ACC1;
}

#p-detail .c-detail h1 span {
  padding: 0 1.0rem;
}

#p-detail .c-detail h3 {
  font-weight: bold;
  font-size: 1.4rem;
  color: #666;
}

#p-detail .c-detail p {
  line-height: 1.6;
  color: #666;
  margin-bottom: 1.5em;
}

#p-detail .c-detail .ui.ordered.list {
  margin-top: 5.0rem;
  margin-bottom: 5.0rem;
  color: #666;
}

#p-detail .c-detail .ui.celled.list {
  color: #666;
}

#p-detail .c-detail .ui.celled.list .item {
  padding: 0.8em;
  margin-bottom: 0;
  display: -webkit-box;
  display: flex;
  line-height: 1.6;
}

#p-detail .c-detail .ui.celled.list .checkmark.icon {
  margin-right: 0.7rem;
}

#p-detail .c-detail .ui.ordered.list .item {
  color: #666;
  line-height: inherit;
}

#p-detail .c-detail .ui.grey.table {
  color: #666;
}

#p-detail .c-block__subheader {
  color: #00ACC1;
  border-left: 0.5rem solid #00ACC1;
  padding-left: 1rem;
  font-weight: normal;
}

#p-detail .c-block__section {
  margin: 3.5rem 0 6.0rem;
}

#p-detail .c-block__thirdheader {
  color: #666;
  font-size: 1.6rem;
  margin-bottom: 1.5em;
}

@media screen and (min-width: 960px) {
  #p-jobinfo .l-main {
    margin-bottom: 5.0rem;
  }
}

@media screen and (max-width: 959px) {
  #p-jobinfo .l-main {
    margin: 0 1.0rem;
  }
}

#p-jobinfo .l-main_lf_1, #p-jobinfo .l-main_lf_2, #p-jobinfo .l-main_lf_3 {
  margin: 3.0rem 0;
}

#p-jobinfo h2 {
  color: #666;
  font-weight: normal;
  margin: 0.8rem 0 1.8rem;
}

#p-jobinfo p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #666;
}

#p-jobinfo table, #p-jobinfo th, #p-jobinfo td {
  color: #666;
}

#p-jobinfo .c-detail .ui.divider {
  margin-top: 5.0rem;
  margin-bottom: 5.0rem;
}

#p-jobinfo .c-detail .four.wide {
  vertical-align: top;
  padding-top: 1em;
}

#p-jobinfo .c-detail .ui.top.attached.tabular.menu .item {
  font-size: 1.2rem;
  text-align: center;
  padding: 0;
}

#p-jobinfo .c-detail .ui.top.attached.tabular.menu .item a {
  display: block;
  width: 100%;
  height: 100%;
  color: #666;
  font-weight: normal;
  cursor: pointer;
}

@media screen and (min-width: 680px) {
  #p-jobinfo .c-detail .ui.top.attached.tabular.menu .item a {
    padding: 0.92857143em 4.0rem;
  }
}

@media screen and (max-width: 679px) {
  #p-jobinfo .c-detail .ui.top.attached.tabular.menu .item {
    width: 50%;
  }
  #p-jobinfo .c-detail .ui.top.attached.tabular.menu .item a {
    height: 3.0rem;
    line-height: 3.0rem;
  }
}

#p-jobinfo .c-detail .ui.bottom.attached.segment {
  padding: 0;
}

@media screen and (min-width: 680px) {
  #p-jobinfo .ui.cards {
    margin: 0 0 2.0rem;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  #p-jobinfo .ui.card {
    width: 23%;
    box-sizing: border-box;
    margin-left: 1%;
    margin-right: 1%;
  }
  #p-jobinfo .ui.card:nth-child(1) {
    margin-left: 0;
    margin-right: 1%;
  }
  #p-jobinfo .ui.card:nth-child(4) {
    margin-left: 1%;
    margin-right: 0;
  }
}

@media screen and (max-width: 679px) {
  #p-jobinfo .ui.cards {
    display: block;
    margin: 0;
  }
  #p-jobinfo .ui.card {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

#p-jobinfo .ui.card *:not(a) {
  color: #666;
}

#p-jobinfo .ui.card .content .header {
  font-size: 1.4rem;
  font-weight: normal;
}

#p-jobinfo .ui.card .ui.button {
  font-size: 1.2rem;
  font-weight: normal;
  width: 100%;
}

#p-jobinfo .ui.card .summary {
  font-weight: normal;
}

#p-jobinfo .c-header {
  margin: 2.0rem auto;
}

@media screen and (min-width: 960px) {
  #p-jobinfo .c-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
  }
}

#p-jobinfo .c-header__meta small {
  font-size: 1.0rem;
  color: #999;
}

@media screen and (min-width: 680px) {
  #p-jobinfo .c-header__meta small {
    display: block;
  }
}

#p-jobinfo .c-header__meta img {
  vertical-align: middle;
  width: 10.0rem;
  height: 5.0rem;
}

#p-jobinfo .c-header__title {
  font-size: 1.6rem;
  color: #666;
}

@media screen and (min-width: 680px) {
  #p-jobinfo .c-header__title {
    margin: 0 1.0rem;
  }
}

#p-jobinfo .c-header__title small {
  display: block;
  font-size: 1.0rem;
  color: #999;
  margin: 0.5rem 0;
}

#p-jobinfo .c-detail {
  font-size: 1.2rem;
  color: #666;
}

@media screen and (min-width: 680px) {
  #p-jobinfo .c-detail__box {
    display: -webkit-box;
    display: flex;
  }
  #p-jobinfo .c-detail__content {
    width: 70%;
  }
  #p-jobinfo .c-detail__sticky {
    width: 30%;
  }
}

#p-jobinfo .c-detail__content {
  padding: 1em;
}

#p-jobinfo .c-detail__sticky {
  background: #F0F0F0;
  padding: 1em;
  position: relative;
}

#p-jobinfo [data-id="sticky-button"] {
  position: static;
}

#p-jobinfo .c-asto {
  border: 1px solid #D4D4D5;
  box-shadow: none;
  font-size: 1.2rem;
  color: #666;
}

@media screen and (min-width: 680px) {
  #p-jobinfo .c-asto__footer {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 679px) {
  #p-jobinfo .c-asto__footer > div {
    margin: 1.5rem 0;
  }
}

#p-jobinfo .c-asto__footer span {
  display: block;
  margin-bottom: 1.0rem;
}

#p-jobinfo .is-pc-fixed {
  position: fixed;
  top: 54px;
  width: 100%;
  z-index: 2;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

#p-jobinfo .is-sp-fixed {
  position: fixed;
  bottom: 10px;
}

.l-aside {
  margin: 0 auto;
  width: 100%;
}

.l-aside h2 {
  font-size: 1.4rem;
  font-weight: normal;
  border-bottom: 1px solid #DDD;
  margin-bottom: 2.8rem;
}

@media screen and (min-width: 960px) {
  .l-aside {
    width: 30.0rem;
  }
}

.l-aside_rg_1, #p-top .l-aside_rg_1 {
  margin: 3.0rem 0 5.0rem;
  width: 100%;
}

#p-search .l-aside_rg_1 {
  margin: 6.0rem 0 5.0rem;
  width: 100%;
}

@media screen and (min-width: 960px) {
  #p-top .l-aside_rg_1 {
    height: 30.0rem;
  }
}

.l-aside_rg_2 {
  margin: 3.0rem 0 5.0rem;
}

.l-aside_rg_3 {
  margin: 3.0rem 0 5.0rem;
}

#p-top .c-newarrival__title {
  font-size: 1.6rem;
  font-weight: normal;
  color: #666;
}

#p-top .c-newarrival__list:hover {
  opacity: 0.8;
}

#p-top .c-newarrival__item {
  color: #666;
  display: inline;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 2;
}

#p-top .extra.content {
  font-size: 1.2rem;
}

#p-top .c-newarrival__count {
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: bold;
}

#p-top .c-knowhow__item {
  margin-bottom: 2.5rem;
}

#p-top .c-knowhow__item:hover {
  opacity: 0.8;
}

#p-top .c-knowhow__link {
  display: -webkit-box;
  display: flex;
}

#p-top .c-knowhow__lead {
  padding-left: 1.0rem;
  font-size: 1.2rem;
  color: #666;
}

#p-top .c-about__content {
  font-size: 1.1rem;
  color: #999;
  line-height: 1.6;
}

#p-site .c-othersite__item {
  max-width: 32.0rem;
  margin: 3.0rem auto;
  text-align: center;
}

#p-site .c-othersite__link {
  color: #FFF;
  display: block;
  height: 6.0rem;
  line-height: 6.0rem;
  margin: 0 auto;
}

#p-site .c-othersite__woman {
  background: url("/dist/image/as_88453696.jpg") no-repeat;
  background-size: cover;
  background-position-y: 30%;
}

#p-site .c-othersite__itweb {
  background: url("/dist/image/as_100716472.jpg") no-repeat;
  background-size: cover;
}

#p-site .c-othersite__agent {
  background: url("/dist/image/as_99302690.jpg") no-repeat;
  background-size: cover;
}

#p-site .c-othersite__woman:hover, #p-site .c-othersite__itweb:hover, #p-site .c-othersite__agent:hover {
  opacity: 0.8;
}

#p-site .c-knowhow__item {
  margin-bottom: 2.5rem;
}

#p-site .c-knowhow__item:hover {
  opacity: 0.8;
}

#p-site .c-knowhow__link {
  display: -webkit-box;
  display: flex;
}

#p-site .c-knowhow__lead {
  padding-left: 1.0rem;
  font-size: 1.2rem;
  color: #666;
}

#p-itweb .c-othersite__item {
  max-width: 32.0rem;
  margin: 3.0rem auto;
  text-align: center;
}

#p-itweb .c-othersite__link {
  color: #FFF;
  display: block;
  height: 6.0rem;
  line-height: 6.0rem;
  margin: 0 auto;
}

#p-itweb .c-othersite__woman {
  background: url("/dist/image/as_88453696.jpg") no-repeat;
  background-size: cover;
  background-position-y: 30%;
}

#p-itweb .c-othersite__itweb {
  background: url("/dist/image/as_100716472.jpg") no-repeat;
  background-size: cover;
}

#p-itweb .c-othersite__agent {
  background: url("/dist/image/as_99302690.jpg") no-repeat;
  background-size: cover;
}

#p-itweb .c-othersite__woman:hover, #p-itweb .c-othersite__itweb:hover, #p-itweb .c-othersite__agent:hover {
  opacity: 0.8;
}

#p-itweb .c-knowhow__item {
  margin-bottom: 2.5rem;
}

#p-itweb .c-knowhow__item:hover {
  opacity: 0.8;
}

#p-itweb .c-knowhow__link {
  display: -webkit-box;
  display: flex;
}

#p-itweb .c-knowhow__lead {
  padding-left: 1.0rem;
  font-size: 1.2rem;
  color: #666;
}

#p-agent .c-othersite__item {
  max-width: 32.0rem;
  margin: 3.0rem auto;
  text-align: center;
}

#p-agent .c-othersite__link {
  color: #FFF;
  display: block;
  height: 6.0rem;
  line-height: 6.0rem;
  margin: 0 auto;
}

#p-agent .c-othersite__woman {
  background: url("/dist/image/as_88453696.jpg") no-repeat;
  background-size: cover;
  background-position-y: 30%;
}

#p-agent .c-othersite__itweb {
  background: url("/dist/image/as_100716472.jpg") no-repeat;
  background-size: cover;
}

#p-agent .c-othersite__agent {
  background: url("/dist/image/as_99302690.jpg") no-repeat;
  background-size: cover;
}

#p-agent .c-othersite__woman:hover, #p-agent .c-othersite__itweb:hover, #p-agent .c-othersite__agent:hover {
  opacity: 0.8;
}

#p-agent .c-knowhow__item {
  margin-bottom: 2.5rem;
}

#p-agent .c-knowhow__item:hover {
  opacity: 0.8;
}

#p-agent .c-knowhow__link {
  display: -webkit-box;
  display: flex;
}

#p-agent .c-knowhow__lead {
  padding-left: 1.0rem;
  font-size: 1.2rem;
  color: #666;
}

#p-detail .c-othersite__item {
  max-width: 32.0rem;
  margin: 3.0rem auto;
  text-align: center;
}

#p-detail .c-othersite__link {
  color: #FFF;
  display: block;
  height: 6.0rem;
  line-height: 6.0rem;
  margin: 0 auto;
}

#p-detail .c-othersite__woman {
  background: url("/dist/image/as_88453696.jpg") no-repeat;
  background-size: cover;
  background-position-y: 30%;
}

#p-detail .c-othersite__itweb {
  background: url("/dist/image/as_100716472.jpg") no-repeat;
  background-size: cover;
}

#p-detail .c-othersite__agent {
  background: url("/dist/image/as_99302690.jpg") no-repeat;
  background-size: cover;
}

#p-detail .c-othersite__woman:hover, #p-detail .c-othersite__itweb:hover, #p-detail .c-othersite__agent:hover {
  opacity: 0.8;
}

#p-detail .c-knowhow__item {
  margin-bottom: 2.5rem;
}

#p-detail .c-knowhow__item:hover {
  opacity: 0.8;
}

#p-detail .c-knowhow__link {
  display: -webkit-box;
  display: flex;
}

#p-detail .c-knowhow__lead {
  padding-left: 1.0rem;
  font-size: 1.2rem;
  color: #666;
}

.u-p05em {
  padding-top: 0.5em;
}

.u-p1em {
  padding-top: 1em;
}

.u-p2em {
  padding-top: 2em;
}

@media screen and (max-width: 959px) {
  .u-lg-ms1rem {
    margin-left: 1.0rem;
    margin-right: 1.0rem;
  }
}

/*# sourceMappingURL=style.css.map */
