.c-asto.ui.segment
  h2 リクルートエージェントについて
  .ui.items
    .item
      a.ui.small.image
        img.c-ranking__thumb(src="/dist/image/tmb_next.jpg")
      .content
        .description
          p.
            リクナビNEXTを運営しているリクルートキャリアによる言わずと知れた転職成功実績No.1の転職エージェント。その特徴は何と言っても
            1977年からおよそ40年という長い歴史とその中で30万人以上の転職成功者を出してきた実績、また圧倒的な求人数の３点です。
            求人数はサイト上で公開しているもので約3万件、サイト上に非公開のもので約14万件と17万件もの求人を取り扱っています。（＊）
            転職サイトと異なり、転職エージェントの場合、自分の希望は伝えることはできますが前提は自分自身で求人を検索するのではなく、
            あくまでキャリアアドバイザーが提案してくる求人に応募するかどうかなので、求人数が圧倒的に多いということはそれだけ選択肢の幅が広がります。
            リクルートエージェントは転職エージェントの中でも登録マストなエージェントの一つです。
  .c-asto__footer
    div
      span ここがポイント
        i.pointing.up.icon
      ul
        li
          i.checkmark.icon
          |17万件という業界最大規模の取り扱い求人数(*)
        li
          i.checkmark.icon
          |30万人の転職成功者実績という圧倒的な安心感
        li
          i.checkmark.icon
          |きめ細やかな面談・ヒアリングとそれにもとづく求人の提案力
    div
      button.ui.teal.button.c-singlebutton リクルートエージェントについて詳しく
