h2 リクルートエージェントが扱うこの職種での別の求人
.c-otherjob.ui.cards              
  .ui.card
    .content
      .header 株式会社へのへの
    .content                  
      .ui.small.feed                    
        .event                      
          .content
            .meta 職種
            .summary よよよよよよよよよよよよよよよよよよ
        .event                      
          .content
            .meta 仕事の内容
            .summary よよよよよよよよよよよよよよよよよよ
        .event
          .content
            .meta 勤務地
            .summary よよよよよよよよよよよよよよよよよよ                    
    .extra.content
      button.ui.button 詳細をみる
  .ui.card
    .content
      .header 株式会社へのへの茂辺地茂辺地
    .content                  
      .ui.small.feed                    
        .event                      
          .content
            .meta 職種
            .summary よよよよよよよよよよよよよよよよよよ
        .event                      
          .content
            .meta 仕事の内容
            .summary よよよよよよよよよよよよよよよよよよ
        .event
          .content
            .meta 勤務地
            .summary よよよよよよよよよよよよよよよよよよ            
    .extra.content
      button.ui.button 詳細をみる
  .ui.card
    .content
      .header 株式会社へのへの茂辺地茂辺地
    .content                  
      .ui.small.feed                    
        .event                      
          .content
            .meta 職種
            .summary よよよよよよよよよよよよよよよよよよ
        .event                      
          .content
            .meta 仕事の内容
            .summary よよよよよよよよよよよよよよよよよよ
        .event
          .content
            .meta 勤務地
            .summary よよよよよよよよよよよよよよよよよよ            
    .extra.content
      button.ui.button 詳細をみる
  .ui.card
    .content
      .header 株式会社へのへの
    .content                  
      .ui.small.feed                    
        .event                      
          .content
            .meta 職種
            .summary よよよよよよよよよよよよよよよよよよ
        .event                      
          .content
            .meta 仕事の内容
            .summary よよよよよよよよよよよよよよよよよよ
        .event
          .content
            .meta 勤務地
            .summary よよよよよよよよよよよよよよよよよよ            
    .extra.content
      button.ui.button 詳細をみる
