- for(var i = 0; i < 4; i++){
  .c-ranking
    h2.c-ranking__title
      span 第１位
      |リクルートエージェント
    .ui.items.c-ranking__summary
      .item
        a.ui.small.image
          img.c-ranking__thumb(src="/dist/image/tmb_next.jpg")
        .content
          .description
            p.
              リクナビNEXTを運営しているリクルートキャリアによる言わずと知れた転職成功実績No.1の転職エージェント。その特徴は何と言っても
              1977年からおよそ40年という長い歴史とその中で30万人以上の転職成功者を出してきた実績、また圧倒的な求人数の３点です。
              求人数はサイト上で公開しているもので約3万件、サイト上に非公開のもので約14万件と17万件もの求人を取り扱っています。（＊）
              転職サイトと異なり、転職エージェントの場合、自分の希望は伝えることはできますが前提は自分自身で求人を検索するのではなく、
              あくまでキャリアアドバイザーが提案してくる求人に応募するかどうかなので、求人数が圧倒的に多いということはそれだけ選択肢の幅が広がります。
              リクルートエージェントは転職エージェントの中でも登録マストなエージェントの一つです。
    .c-ranking__description
      .c-ranking__section
        span.c-ranking__catch ここがポイント
          i.pointing.up.icon
        ul.c-ranking__points
          li.c-ranking__point
            i.checkmark.icon.c-ranking__pointIcon            
            |17万件という業界最大規模の取り扱い求人数(*)
          li.c-ranking__point
            i.checkmark.icon.c-ranking__pointIcon
            |30万人の転職成功者実績という圧倒的な安心感
          li.c-ranking__point
            i.checkmark.icon.c-ranking__pointIcon
            |きめ細やかな面談・ヒアリングとそれにもとづく求人の提案力
      .c-ranking__section
        span.c-ranking__catch 利用者の声
          i.talk.outline.icon
        .ui.comments.c-voices
          .ui.raised.segment
            .comment.c-voice
              .c-voice__author
                a.avatar.c-voice__avatar
                  span.c-voice__avatar30w
                .content.c-voice__meta
                  a.author 30代 女性 営業職
                  .metadata
                    .ui.star.rating.disabled(data-rating="4" data-max-rating="5")
              .content.c-voice__comment
                .text.
                  転職しようと思い初めに登録したサービスがリクナビNEXTでした。
                  前職では総務部におり、人事を兼務で中途採用の広告を出した経験もあり、
                  その中でもいい印象だったのがリクナビNEXTです...
          .ui.raised.segment
            .comment.c-voice
              .c-voice__author
                a.avatar.c-voice__avatar
                  span.c-voice__avatar20m
                .content.c-voice__meta
                  a.author 20代 男性 販売職
                  .metadata
                    .ui.star.rating.disabled(data-rating="4" data-max-rating="5")
              .content.c-voice__comment
                .text.
                  転職しようと思い初めに登録したサービスがリクナビNEXTでした。
                  前職では総務部におり、人事を兼務で中途採用の広告を出した経験もあり、
                  その中でもいい印象だったのがリクナビNEXTです...
      .c-double__buttons
        button.ui.orange.button.c-button クチコミ・詳細を見る
        button.ui.teal.button.c-button リクナビNEXTの求人を見てみる  
- }
