- for(var i = 0; i < 20; i++){
  .c-searchCassette.ui.grey.segment
    h2.c-searchCassette__title エス・エー・エス株式会社
    span.c-searchCassette__meta 提供元：リクナビNEXT
    p.c-searchCassette__lead
      a.c-searchCassette__link 【システムエンジニア】自社開発／プライム案件／定着率97.9％／5期連続売上UP／月給75万円スタートも可能
    table.ui.table
      tbody
        tr
          th.four.wide.
            仕事内容
          td.tweleve.wide.
            SIerとして大手企業に常駐し、金融や流通、クレジットカードのシステム開発、 勤怠管理や給与明細の自社パッケージ開発など幅広いフィールドで…
        tr
          th.four.wide.
            勤務地
          td.tweleve.wide.
            東京都港区三田(本社)および都内近郊 【本社】 〒108-0073　東京都港区三田3-4-10 4F（リーラヒジリザカビル） ※グーグ…
        tr
          th.four.wide.
            給与
          td.tweleve.wide.
            月給36～75万円（別途残業精算あり） ◎経験や能力に応じて決定します ◎独自の人事評価制度あり ※試用期間3ヶ月あり／給…
    .c-searchCassette__buttons
      .c-searchCassette__button.ui.orange.button
        a.c-searchCassette__link(href="#") いますぐ登録！
      .c-searchCassette__button.ui.teal.button
        a.c-searchCassette__link(href="#") 求人の詳細を見る       
- }
