.c-searchResult
  p.c-searchResult__count
    strong 7,719件
    |（1～50件を表示中）
  .c-searchResult__pagination.ui.pagination.menu
    a.active.item 1
    a.item 2
    a.item 3
    .disabled.item ...
    a.item 12
