- for(var i = 0; i < 4; i++){
  .c-ranking
    h2.c-ranking__title
      span 第１位
      |リクナビNEXT
    .ui.items.c-ranking__summary
      .item
        a.ui.small.image
          img.c-ranking__thumb(src="/dist/image/tmb_next.jpg")
        .content
          .description
            p.
              リクルートキャリアが運営する言わずと知れた国内最大級の転職サイト。
              新卒の就職活動では「リクナビ」を使っていたという方も多いのではないでしょうか。
              そのリクナビの転職者向けサービスが「リクナビNEXT」です。特徴は何と言っても掲載している求人数の数。
              常時7,000〜8,000件程度の求人が掲載されており、その数は他の転職サイトを寄せ付けません。
              頻繁に更新される業界やこだわり条件ごとの求人特集や、レジュメ・職務経歴書と一緒にスカウトサービスに登録すると、
              サイトに非公開の求人が多数オファーの形式で届くのも魅力です。また最近ではフェアなどのイベントにも力を入れており、
              名古屋・大阪・東京・福岡など主要都市圏で頻繁に転職フェアを開催しています。転職活動を始めるならMUSTでチェックすべきサイトです。
    .c-ranking__description
      .c-ranking__section
        span.c-ranking__catch ここがポイント
          i.pointing.up.icon
        ul.c-ranking__points
          li.c-ranking__point
            i.checkmark.icon.c-ranking__pointIcon
            |他サイトと比べて圧倒的No.1の求人数なので、選択肢を狭めないためにも登録はマスト！
          li.c-ranking__point
            i.checkmark.icon.c-ranking__pointIcon
            |提携エージェントから求人が紹介されるスカウト機能と非公開求人
          li.c-ranking__point
            i.checkmark.icon.c-ranking__pointIcon
            |頻繁に開催される転職フェアを通じて、多くの企業と出会える
      .c-ranking__section
        span.c-ranking__catch 利用者の声
          i.talk.outline.icon
        .ui.comments.c-voices
          .ui.raised.segment
            .comment.c-voice
              .c-voice__author
                a.avatar.c-voice__avatar
                  span.c-voice__avatar30w
                .content.c-voice__meta
                  a.author 30代 女性 営業職
                  .metadata
                    .ui.star.rating.disabled(data-rating="4" data-max-rating="5")
              .content.c-voice__comment
                .text.
                  転職しようと思い初めに登録したサービスがリクナビNEXTでした。
                  前職では総務部におり、人事を兼務で中途採用の広告を出した経験もあり、
                  その中でもいい印象だったのがリクナビNEXTです...
          .ui.raised.segment
            .comment.c-voice
              .c-voice__author
                a.avatar.c-voice__avatar
                  span.c-voice__avatar30w
                .content.c-voice__meta
                  a.author 30代 女性 営業職
                  .metadata
                    .ui.star.rating.disabled(data-rating="4" data-max-rating="5")
              .content.c-voice__comment
                .text.
                  転職しようと思い初めに登録したサービスがリクナビNEXTでした。
                  前職では総務部におり、人事を兼務で中途採用の広告を出した経験もあり、
                  その中でもいい印象だったのがリクナビNEXTです...
      .c-double__buttons
        button.ui.orange.button.c-button クチコミ・詳細を見る
        button.ui.teal.button.c-button リクナビNEXTの求人を見てみる  
- }
