h2.c-block__subheader#bs-3 3.掲載している求人について
.c-block__section
  p.
    リクルートエージェントの取り扱う求人は実に幅広く、各職種の求人が満遍なく掲載されています。ああああああああああああああああああ
  table.ui.grey.table
    thead
      tr
        th 職種
        th 求人数
        th 割合
    tbody
      - for(var i = 0; i < 4; i++){
      tr
        td 営業職
        td 8,098
        td 16%                            
      tr
        td 事務・管理職
        td 7,893
        td 24%                            
      - }
