h2.c-block__subheader#bs-2 2.リクルートエージェントのデメリットと口コミ
.c-block__section
  h3.c-block__thirdheader リクルートエージェントのデメリット
    i.thumbs.down.icon
  p.
    リクルートエージェントのネガティブな側面としては、担当者によるサポート力の差が挙げられます。
  p.
    これはそもそも他社と比べてキャリアアドバイザーの母数が多いと言うことの裏返しなのでしょうが、ベテランのアドバイザーと新人のアドバイザーでは差はかなり出るようです。 例えば、企業への応募やキャリアアドバイザーへの相談の連絡の素早さや、求人提案時の細かな対応力などはどうしても差は出てくるようです（とはいえこれはリクルートエージェントに限ったことともいえませんが）。                    
  p.
    ただし、リクルートエージェントでは、こういったキャリアアドバイザーの対応に不満を感じた場合、サポートセンターに問い合わせ担当者のチェンジもできるようです。 あまりにもひどい場合はそういった選択肢も含めて利用してみるといいでしょう。
.c-block__section
  h3.c-block__thirdheader リクルートエージェント利用者の声                    
    i.talk.outline.icon
  - for(var i = 0; i < 3; i++){
    .ui.comments.c-voices
      .ui.raised.segment
        .comment.c-voice
          .c-voice__author
            a.avatar.c-voice__avatar
              span.c-voice__avatar30w
            .content.c-voice__meta
              a.author 30代 女性 営業職
              .metadata
                .ui.star.rating.disabled(data-rating="4" data-max-rating="5")
          .content.c-voice__comment
            .text.
              転職しようと思い初めに登録したサービスがリクナビNEXTでした。
              前職では総務部におり、人事を兼務で中途採用の広告を出した経験もあり、
              その中でもいい印象だったのがリクナビNEXTです/
              転職しようと思い初めに登録したサービスがリクナビNEXTでした。
              前職では総務部におり、人事を兼務で中途採用の広告を出した経験もあり、
              その中でもいい印象だったのがリクナビNEXTです/
              転職しようと思い初めに登録したサービスがリクナビNEXTでした。
              前職では総務部におり、人事を兼務で中途採用の広告を出した経験もあり、
              その中でもいい印象だったのがリクナビNEXTです
  - }
.c-block__section
  h3.c-block__thirdheader リクルートエージェントのメリットまとめ
    i.pointing.up.icon
  .ui.celled.list
    .item
      i.checkmark.icon
      span 17万件という業界最大規模の取り扱い求人数(*)
    .item
      i.checkmark.icon
      span 30万人の転職成功者実績という圧倒的な安心感
    .item
      i.checkmark.icon
      span きめ細やかな面談・ヒアリングとそれにもとづく求人の提案力
.c-double__buttons
  button.ui.orange.button.c-button
    a(href="#") リクルートエージェントへ登録
  button.ui.teal.button.c-button
    a(href="#") リクルートエージェントの求人をみる  
