h2.c-block__subheader#bs-1 1.リクルートエージェントのメリットと口コミ                  
.c-block__section
  h3.c-block__thirdheader リクルートエージェントのメリット
    i.thumbs.up.icon
  p.
    リクルートエージェントの場合、まずは初回の面談ヒアリングがとても特徴的です。
  p.
    多くの転職エージェントは、概ね「給与」や「職種」、「勤務地」などの情報を聞いたらあとはとりあえず求人を片っ端から見せるようなスタンスを取ることが多いですが、 リクルートエージェントの場合はより具体的に今の会社のどういったところが不満に思っているのか、将来的にどういった志向を持っているか（あくまで現時点で）、といった定性的な背景を重視する 傾向にあります。
  p.
    求人数自体は他社と比べて圧倒的に多い自負があるからでしょう、「給与」や「職種」といった大前提な条件以外に、転職者の方が 実際に入社した際にその企業の風土や会社の志向に合うかどうかなどを踏まえて提案するために、細かいヒアリングを積み重ねます。その中で別の企業や業界の方が 向いている可能性があると感じれば、転職者本人が気づいていなかった選択肢についても提示してくれるなど、本当にプロのコンサルタントとしての提案が特徴です （もちろん担当する転職エージェントによって程度の差はありますので100%の保証ではありません）。
  p.
    またリクルートエージェントの特徴的なスタンスとして キャリアアドバイザーから見て、その転職者の方にとって現時点で転職がベストな選択肢でない場合、転職そのものを無理に進めないという一貫したポリシーがあります。 転職は必ずしも、良い結果を産むわけではないのでその転職者にとって今の企業に残ることが提案する求人の企業と比べてベストならそれをはっきりと伝えるようです。
.c-block__section
  h3.c-block__thirdheader リクルートエージェント利用者の声                    
    i.talk.outline.icon
  - for(var i = 0; i < 3; i++){
  .ui.comments.c-voices
    .ui.raised.segment
      .comment.c-voice
        .c-voice__author
          a.avatar.c-voice__avatar
            span.c-voice__avatar30w
          .content.c-voice__meta
            a.author 30代 女性 営業職
            .metadata
              .ui.star.rating.disabled(data-rating="4" data-max-rating="5")
        .content.c-voice__comment
          .text.
            転職しようと思い初めに登録したサービスがリクナビNEXTでした。
            前職では総務部におり、人事を兼務で中途採用の広告を出した経験もあり、
            その中でもいい印象だったのがリクナビNEXTです/
            転職しようと思い初めに登録したサービスがリクナビNEXTでした。
            前職では総務部におり、人事を兼務で中途採用の広告を出した経験もあり、
            その中でもいい印象だったのがリクナビNEXTです/
            転職しようと思い初めに登録したサービスがリクナビNEXTでした。
            前職では総務部におり、人事を兼務で中途採用の広告を出した経験もあり、
            その中でもいい印象だったのがリクナビNEXTです
  - }
.c-block__section
  h3.c-block__thirdheader リクルートエージェントのメリットまとめ
    i.pointing.up.icon
  .ui.celled.list
    .item
      i.checkmark.icon
      span 17万件という業界最大規模の取り扱い求人数(*)
    .item
      i.checkmark.icon
      span 30万人の転職成功者実績という圧倒的な安心感
    .item
      i.checkmark.icon
      span きめ細やかな面談・ヒアリングとそれにもとづく求人の提案力
.c-double__buttons
  button.ui.orange.button.c-button リクルートエージェントへ登録
  button.ui.teal.button.c-button リクルートエージェントの求人をみる  
