h2.c-block__subheader#bs-4 4.総論・どう言う人におすすめか
.c-block__section
  p.
    総合評価で1位、案件の質・量で1位、また転職エージェントでは間違いなく実績No.1ですので、転職を検討するすべての方におすすめです。
  p.
    しかし、担当者の当たり外れが多かったりと、『リクルートエージェント』 1社だけを利用して転職活動をするのはおすすめできません。
    転職活動をする際は、『リクルートエージェント』のデメリットを補いつつ、併用するとメリットがあるエージェントを併用すると良いでしょう。
    下記4社から、追加で2社ほど利用すれば万全です。
  p.
    95%の人が同時に併用する総合エージェント｜DODA
    転職が初めての方、手厚いサポートを求める方｜パソナキャリア
    年収が最低でも500万を超えるハイキャリアの方｜JACリクルートメント
    外資案件を含めて検討したい方でJACが合わなかった人｜アデコ
    業種によっては専門性にかけるという口コミも多々見受けられるため、専門性に満足できなかった場合、下記業界別に特化型のエージェントを併用すると良いでしょう。
  p.
    ※『JACリクルートメント』は業界特化型エージェントではないのですが、「海外」「外資」「管理職」の転職では明らかにトップエージェントで圧倒的な実績ですので、あえて重ねて紹介をしております。
  .c-double__buttons
    button.ui.orange.button.c-button リクルートエージェントへ登録
    button.ui.teal.button.c-button リクルートエージェントの求人をみる 
