.c-knowhow
  h2 転職を考えたら
  ul.c-knowhow__list
    - for(var i = 0; i < 10; i++){
    li.c-knowhow__item
      a.c-knowhow__link(href="#")
        img.c-knowhow__thumb(src="http://dev.tenshoku-journal.com/knowhow/wp-content/uploads/2017/04/e_20170427.jpg" width="55" height="55")
        p.c-knowhow__lead 採用のお悩み解決！ スタートアップが採用でやってきた裏ワザ公開《ビジネスサイド編》
    - }
