.c-othersite
  h2 専門型サービスのランキングはこちら
  .c-othersite__item.c-othersite__woman
    a.c-othersite__link(href="#") 女性向け転職サービスランキング
  .c-othersite__item.c-othersite__itweb
    a.c-othersite__link(href="#") IT/Web系転職サービスランキング
  h2 転職エージェントのランキングはこちら
  .c-othersite__item.c-othersite__agent
    a.c-othersite__link(href="#") 転職エージェント総合ランキング
