.c-ranking
  h1.c-ranking__title(style="font-weight:normal;")
    span 第１位
    |リクルートエージェント の評判・口コミ
  .ui.items.c-ranking__summary(style="margin-bottom:3.0em;")
    .item
      a.ui.small.image
        img.c-ranking__thumb(src="/dist/image/tmb_next.jpg")
      .content
        .description
          p.
            リクナビNEXTを運営しているリクルートキャリアによる言わずと知れた転職成功実績No.1の転職エージェント。その特徴は何と言っても
            1977年からおよそ40年という長い歴史とその中で30万人以上の転職成功者を出してきた実績、また圧倒的な求人数の３点です。
            求人数はサイト上で公開しているもので約3万件、サイト上に非公開のもので約14万件と17万件もの求人を取り扱っています。（＊）
            転職サイトと異なり、転職エージェントの場合、自分の希望は伝えることはできますが前提は自分自身で求人を検索するのではなく、
            あくまでキャリアアドバイザーが提案してくる求人に応募するかどうかなので、求人数が圧倒的に多いということはそれだけ選択肢の幅が広がります。
            リクルートエージェントは転職エージェントの中でも登録マストなエージェントの一つです。
  div(style="margin-top:5.0rem;margin-bottom:5.0rem;color:#666;").ui.ordered.list
    a.item(href="#") リクルートエージェントのメリットと口コミ
    a.item(href="#") リクルートエージェントのデメリットと口コミ
    a.item(href="#") 掲載している求人について
    a.item(href="#") 総論・どういう人におすすめか
  .c-ranking__description
    h2(style="color:#00B5AD;font-weight:normal;border-left:5px solid #00B5AD;padding-left:1em;") 1.リクルートエージェントのメリットと口コミ    
    .c-ranking__section(style="margin-top:3.0rem;margin-bottom:5.0rem;")
      h3.c-ranking__catch(style="font-size:1.6rem;color:#666;") リクルートエージェントの良い点
      p(style="color:#666;line-height:1.6;").
        リクルートエージェントの場合、まずは初回の面談ヒアリングがとても特徴的です。
      p(style="color:#666;line-height:1.6;").
        多くの転職エージェントは、概ね「給与」や「職種」、「勤務地」などの情報を聞いたらあとはとりあえず求人を片っ端から見せるようなスタンスを取ることが多いですが、
        リクルートエージェントの場合はより具体的に今の会社のどういったところが不満に思っているのか、将来的にどういった志向を持っているか（あくまで現時点で）、といった定性的な背景を重視する
        傾向にあります。
      p(style="color:#666;line-height:1.6;").
        求人数自体は他社と比べて圧倒的に多い自負があるからでしょう、「給与」や「職種」といった大前提な条件以外に、転職者の方が
        実際に入社した際にその企業の風土や会社の志向に合うかどうかなどを踏まえて提案するために、細かいヒアリングを積み重ねます。その中で別の企業や業界の方が
        向いている可能性があると感じれば、転職者本人が気づいていなかった選択肢についても提示してくれるなど、本当にプロのコンサルタントとしての提案が特徴です
        （もちろん担当する転職エージェントによって程度の差はありますので100%の保証ではありません）。
      p(style="color:#666;line-height:1.6;").
        またリクルートエージェントの特徴的なスタンスとして
        キャリアアドバイザーから見て、その転職者の方にとって現時点で転職がベストな選択肢でない場合、転職そのものを無理に進めないという一貫したポリシーがあります。
        転職は必ずしも、良い結果を産むわけではないのでその転職者にとって今の企業に残ることが提案する求人の企業と比べてベストならそれをはっきりと伝えるようです。
    .c-ranking__section(style="margin-top:5.0rem;margin-bottom:5.0rem;")
      h3.c-ranking__catch(style="font-size:1.6rem;color:#666;") リクルートエージェント利用者の声
        i.talk.outline.icon
      .ui.comments.c-ranking__voices
        .ui.piled.segment(style="font-size: 100%;margin-top:4.0rem;margin-bottom:4.0rem;")
          .comment.c-ranking__voice
            a.avatar.c-ranking__avatar
              span.c-ranking__avatar30w
            .content.c-ranking__comment
              a.author 30代 女性 営業職
              .metadata
                .ui.star.rating.disabled(data-rating="4" data-max-rating="5")
              .text.
                転職しようと思い初めに登録したサービスがリクナビNEXTでした。
                前職では総務部におり、人事を兼務で中途採用の広告を出した経験もあり、
                その中でもいい印象だったのがリクナビNEXTです/
                転職しようと思い初めに登録したサービスがリクナビNEXTでした。
                前職では総務部におり、人事を兼務で中途採用の広告を出した経験もあり、
                その中でもいい印象だったのがリクナビNEXTです/
                転職しようと思い初めに登録したサービスがリクナビNEXTでした。
                前職では総務部におり、人事を兼務で中途採用の広告を出した経験もあり、
                その中でもいい印象だったのがリクナビNEXTです
        .ui.piled.segment(style="font-size: 100%;margin-top:4.0rem;margin-bottom:4.0rem;")
          .comment.c-ranking__voice
            a.avatar.c-ranking__avatar
              span.c-ranking__avatar20m
            .content.c-ranking__comment
              a.author 20代 男性 販売職
              .metadata
                .ui.star.rating.disabled(data-rating="4" data-max-rating="5")
          div.
            転職しようと思い初めに登録したサービスがリクナビNEXTでした。
            前職では総務部におり、人事を兼務で中途採用の広告を出した経験もあり、
            その中でもいい印象だったのがリクナビNEXTです/
            転職しようと思い初めに登録したサービスがリクナビNEXTでした。
            前職では総務部におり、人事を兼務で中途採用の広告を出した経験もあり、
            その中でもいい印象だったのがリクナビNEXTです/
            転職しようと思い初めに登録したサービスがリクナビNEXTでした。
            前職では総務部におり、人事を兼務で中途採用の広告を出した経験もあり、
            その中でもいい印象だったのがリクナビNEXTです
    .c-ranking__section(style="margin-top:5.0rem;margin-bottom:5.0rem;")
      h3.c-ranking__catch(style="font-size:1.6rem;color:#666;") リクルートエージェントのメリットまとめ
        i.pointing.up.icon
      .c-ranking__points.ui.celled.list
        .c-ranking__point.item(style="padding: 1em;margin-bottom:0;")
          i.checkmark.icon.c-ranking__pointIcon            
          |17万件という業界最大規模の取り扱い求人数(*)
        .c-ranking__point.item(style="padding: 1em;margin-bottom:0;")
          i.checkmark.icon.c-ranking__pointIcon
          |30万人の転職成功者実績という圧倒的な安心感
        .c-ranking__point.item(style="padding: 1em;margin-bottom:0;")
          i.checkmark.icon.c-ranking__pointIcon
          |きめ細やかな面談・ヒアリングとそれにもとづく求人の提案力
    .c-ranking__buttons
      button.ui.orange.button.c-ranking__button.c-ranking__detailButton クチコミ・詳細を見る
      button.ui.teal.button.c-ranking__button.c-ranking__searchButton リクナビNEXTの求人を見てみる  
    h2(style="color:#00B5AD;font-weight:normal;border-left:5px solid #00B5AD;padding-left:1em;") 2.リクルートエージェントのデメリットと口コミ
    .c-ranking__section(style="margin-top:3.0rem;margin-bottom:5.0rem;") 
      h3.c-ranking__catch(style="font-size:1.6rem;color:#666;") リクルートエージェントの悪い点
      p(style="color:#666;line-height:1.6;").
        リクルートエージェントのネガティブな側面としては、担当者によるサポート力の差が挙げられます。
      p(style="color:#666;line-height:1.6;").
        これはそもそも他社と比べてキャリアアドバイザーの母数が多いと言うことの裏返しなのでしょうが、ベテランのアドバイザーと新人のアドバイザーでは差はかなり出るようです。
        例えば、企業への応募やキャリアアドバイザーへの相談の連絡の素早さや、求人提案時の細かな対応力などはどうしても差は出てくるようです（とはいえこれはリクルートエージェントに限ったことともいえませんが）。
      p(style="color:#666;line-height:1.6;").
        ただし、リクルートエージェントでは、こういったキャリアアドバイザーの対応に不満を感じた場合、サポートセンターに問い合わせ担当者のチェンジもできるようです。
        あまりにもひどい場合はそういった選択肢も含めて利用してみるといいでしょう。
    .c-ranking__section(style="margin-top:5.0rem;margin-bottom:5.0rem;")
      h3.c-ranking__catch(style="font-size:1.6rem;color:#666;") リクルートエージェント利用者の声
        i.talk.outline.icon
      .ui.comments.c-ranking__voices
        .ui.piled.segment(style="font-size: 100%;margin-top:4.0rem;margin-bottom:4.0rem;")
          .comment.c-ranking__voice
            a.avatar.c-ranking__avatar
              span.c-ranking__avatar30w
            .content.c-ranking__comment
              a.author 30代 女性 営業職
              .metadata
                .ui.star.rating.disabled(data-rating="4" data-max-rating="5")
              .text.
                転職しようと思い初めに登録したサービスがリクナビNEXTでした。
                前職では総務部におり、人事を兼務で中途採用の広告を出した経験もあり、
                その中でもいい印象だったのがリクナビNEXTです/
                転職しようと思い初めに登録したサービスがリクナビNEXTでした。
                前職では総務部におり、人事を兼務で中途採用の広告を出した経験もあり、
                その中でもいい印象だったのがリクナビNEXTです/
                転職しようと思い初めに登録したサービスがリクナビNEXTでした。
                前職では総務部におり、人事を兼務で中途採用の広告を出した経験もあり、
                その中でもいい印象だったのがリクナビNEXTです
        .ui.piled.segment(style="font-size: 100%;margin-top:4.0rem;margin-bottom:4.0rem;")
          .comment.c-ranking__voice
            a.avatar.c-ranking__avatar
              span.c-ranking__avatar20m
            .content.c-ranking__comment
              a.author 20代 男性 販売職
              .metadata
                .ui.star.rating.disabled(data-rating="4" data-max-rating="5")
              .text.
                転職しようと思い初めに登録したサービスがリクナビNEXTでした。
                前職では総務部におり、人事を兼務で中途採用の広告を出した経験もあり、
                その中でもいい印象だったのがリクナビNEXTです/
                転職しようと思い初めに登録したサービスがリクナビNEXTでした。
                前職では総務部におり、人事を兼務で中途採用の広告を出した経験もあり、
                その中でもいい印象だったのがリクナビNEXTです/
                転職しようと思い初めに登録したサービスがリクナビNEXTでした。
                前職では総務部におり、人事を兼務で中途採用の広告を出した経験もあり、
                その中でもいい印象だったのがリクナビNEXTです
        .ui.piled.segment(style="font-size: 100%;margin-top:4.0rem;margin-bottom:4.0rem;")
          .comment.c-ranking__voice
            a.avatar.c-ranking__avatar
              span.c-ranking__avatar20m
            .content.c-ranking__comment
              a.author 20代 男性 販売職
              .metadata
                .ui.star.rating.disabled(data-rating="4" data-max-rating="5")
              .text.
                転職しようと思い初めに登録したサービスがリクナビNEXTでした。
                前職では総務部におり、人事を兼務で中途採用の広告を出した経験もあり、
                その中でもいい印象だったのがリクナビNEXTです/
                転職しようと思い初めに登録したサービスがリクナビNEXTでした。
                前職では総務部におり、人事を兼務で中途採用の広告を出した経験もあり、
                その中でもいい印象だったのがリクナビNEXTです/
                転職しようと思い初めに登録したサービスがリクナビNEXTでした。
                前職では総務部におり、人事を兼務で中途採用の広告を出した経験もあり、
                その中でもいい印象だったのがリクナビNEXTです
    .c-ranking__section(style="margin-top:5.0rem;margin-bottom:5.0rem;")
      h3.c-ranking__catch(style="font-size:1.6rem;color:#666;") リクルートエージェントのデメリットまとめ
        i.pointing.up.icon
      ul.c-ranking__points
        li.c-ranking__point
          i.checkmark.icon.c-ranking__pointIcon            
          |担当キャリアアドバイザーによって提案・対応力の差が激しい        
    .c-ranking__buttons
      button.ui.orange.button.c-ranking__button.c-ranking__detailButton クチコミ・詳細を見る
      button.ui.teal.button.c-ranking__button.c-ranking__searchButton リクナビNEXTの求人を見てみる  
