//*********************************************
// * Layout
//*********************************************

//- logo
footer{
  background: #333;
  color: #FFF;
}
@media #{$more_than_small}{
  footer{
    padding: 35px 0;
  }
}
@media #{$less_than_small}{
  footer{
    padding: 15px 0;
  }
}
@media #{$less_than_large}{
  footer{
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media #{$more_than_small}{
  .l-footer-logo{
    margin-bottom: 35px;
  }
}
@media #{$less_than_small}{
  .l-footer-logo{
    margin-bottom: 15px;
  }
  .l-footer-logo .c-logo__link{
    margin-left: -8px;
  }
}

//**********************************
// module
//**********************************
.c-footer{
  font-size: 11px;
  width: 100%;
}
@media #{$more_than_large}{
  .c-footer{
    display:flex;
    color: #949697;
  }
}
@media #{$more_than_large}{
  .c-footer__item{
    padding: 0 15px;
  }
}
@media #{$less_than_large}{
  .c-footer__item{
    margin-bottom: 20px;
  }
}
.c-footer__itemHeader{
  font-size: 14px;
}
.c-footer__list{
  display: flex;
}
.c-footer__list li > p{
  color: #949697;
}
@media #{$more_than_large}{
  .c-footer li[data-id="footer-searchby-job"]{
    padding-right: 15px;
  }
}
@media #{$more_than_large}{
  .c-footer li[data-id="footer-searchby-area"]{
    padding-left: 15px;
  }
}
@media #{$less_than_large}{
  .c-footer li[data-id="footer-searchby-job"]{
    padding-right: 5px;
  }
  .c-footer li[data-id="footer-searchby-area"]{
    padding-left: 5px;
  }
  .c-footer li[data-id="footer-searchby-job"],
  .c-footer li[data-id="footer-searchby-area"]
  {
    width: 50%;
  }
}
@media #{$more_than_large}{
  .c-footer p[data-id="footer-knowhow"]{
    height: 20%;
  }
}
.c-footer a{
  display: block;
  line-height: 2;
  color: #949697;
  &:hover{
    color: #FFF;
  }
}
