//**********************************
// Layout
//**********************************

.l-header__upper{
  background: #333;
}
.l-header__lower{
  background: $base_theme_color;
}
.l-header__lower.fixed{
  background: #FCFCFC;
  position: fixed;
  width: 100%;
  z-index: 1;
  box-shadow: 0 0.1rem 0 0 #ECEEF0;
}
@media #{$less_than_small}{
  .l-header__lower{
    font-size: 1.1rem;
  }
}
@media #{$less_than_large}{
  .l-hero .l-inner{
    margin:0 1.0rem;
  }
}

//**********************************
// module
//**********************************


//****************************
// global nav
//****************************
.b-gnav__list{
  display: flex;
}
.b-gnav__item{
  width: 100%;
  height: 4.4rem;
  line-height: 4.4rem;
  text-align: center;
}
@media #{$less_than_small}{
  .b-gnav__item.u-dn{
    display: none;
  }
}
.b-gnav__link{
  color: #FFF;
  display: block;
  &:hover{
    color: #FFF;
    background: #26C6DA;
    display: block;
    text-decoration: underline;
  }
}

.b-gnav__link.is-current{
  text-decoration: underline;
}



//**********************************
// state
//**********************************
.is-fixed{
  position: fixed;
  width: 100%;
  z-index: 2;
}
.is-fixed.b-gnav{
  background: rgba(252,252,252,0.8);
}
.is-fixed .b-gnav__link{
  color: #00ACC1;
  display: block;
  opacity: 0.8;
  &:hover{
    color: #00ACC1;
    background: #FCFCFC;
    display: block;
    text-decoration: underline;
  }
}
