.c-about
  h2 このサイトについて
  p.c-about__content.
    転職ジャーナルは、転職を考えるすべての人向けの情報収集サイトです。転職を意識し始めた人、
    すでに検討し始めて どのサービスを利用しようか悩んでいる人、実際に求人を検索しはじめている人、
    どのような人でもお役に立てる情報を届けることを目的としています。 転職を意識し始めたばかりの
    方はぜひ、転職ノウハウをお読みになり自分と似たような環境の人がどのように悩みを解決しているのかを、
     参考になさってください。すでに検討して、どのサービスを利用しようか悩んでいる方については、
     各転職サイト・転職エージェントのランキングや クチコミから自分にあった転職サービスはどれなのかを
     調べてみることから始めましょう。大手だから、有名だからという理由で片っ端から登録しても、
     そこに本当に自分にあった求人が掲載されておらず、希望するものに出会えない場合があります。
     転職サイトであれば複数登録すればすむ話ですが、 転職エージェントですとエージェントへの希望や
     条件の伝え方を間違うと、かえってこんなはずではなかったというような結果になってしまう場合が
     あります。 このサイトでは、各転職サイト・転職エージェントが掲載している求人の一部を転載して
     いますので、このサイト上で実際に求人を検索していただき、 自分の希望に近い求人が多いサイトかを
     確かめた上で、比較・吟味し登録いただくこともできます。 最後に、すでに実際に求人を検索し
     はじめている方については、ぜひ本サイトで複数のサイトの求人を横断で検索して、希望に近い求人を
     さがしてみてください。 各求人には、各サイトへのリンクも合わせて記載しておりますので、気になる求人には、
     そのまま直接リンクして応募していただくことも可能です。 どんな理由であれ、転職を考えるすべての人が、
     求める情報に出会え希望の求人が見つかることができるようになることを目指して、このサイトは運営されています.
