.ui.items.c-feature
  h2.l-section_title タイプ・目的別に転職サービスをさがす
  article.item.c-feature__item
    .image.c-feature__thumb
      img(src="/dist/image/feature-55.jpg")
    a.c-feature__link.content(href="#")
      header.c-feature__head
        h1.c-feature__lead 今の仕事がとにかく嫌だ！でも他に何がやりたいかわからない...
      section.description.c-feature__excerpt.
        「上司と馬が合わなくて」「残業ばかりで休みが全然取れない」「職場の人間関係が嫌い」 会社や仕事への不満はあるけど、
        特にやりたいことや目標があるわけじゃないから、転職といってもどうやって進めていけばいいかわからない…。 
        転職者の多くが必ずしもポジティブな目的で転職をするわけではありません。
        このようなタイプの方は、 どのようにして自分が興味のある新しい仕事を見つけていくのでしょうか。
        現状不満型タイプの方向けの転職サービスの選び方をまとめました。
  article.item.c-feature__item
    .image.c-feature__thumb
      img(src="/dist/image/feature-104.jpg")
    a.c-feature__link.content(href="#")
      header.c-feature__head
        h1.c-feature__lead 今の仕事が嫌いなわけじゃないけど、もっと自分に向いているやりがいのある仕事があるんじゃないか
      section.description.c-feature__excerpt.
        職場の人間関係も、上司やまわりからの評価もいいし特に不満はないのだけれど、なにか心にぽっかり穴が開いたような気分。
        でもいまさら未経験で新しいことにチャレンジできるのかな…転職とは必ずしも、スキルアップのためだけのものではありません。
        求人市場は活況の中で、今は未経験でも積極的に採用する企業がたくさんあります。新しいことにチャレンジしたい、
        そんな方はどのように転職活動を進めていくべきなのかまとめました。
  article.item.c-feature__item
    .image.c-feature__thumb
      img(src="/dist/image/feature-123.jpg")
    a.c-feature__link.content(href="#")
      header.c-feature__head
        h1.c-feature__lead 仕事もプライベートもしっかり充実させたい！
      section.description.c-feature__excerpt.
        ワークライフバランスという言葉が叫ばれて久しいですが、人によって求める条件は様々。
        仕事は仕事で割り切って趣味や自分の時間を大切に使いたい人もいれば、介護や育児といった家庭の事情で働かなければいけないのに
        あまり長いこと働けない人もいます。また仕事への価値観も、単にお金を稼ぐためだけに働く人もいればその中で充実することや
        自己実現を求める人もいるでしょう。タイプに合わせて最適な転職のあり方を考えてみましょう。
  article.item.c-feature__item
    .image.c-feature__thumb
      img(src="/dist/image/feature-128.jpg")
    a.c-feature__link.content(href="#")
      header.c-feature__head
        h1.c-feature__lead スキルを身につけ今よりもっとキャリアアップしていきたい
      section.description.c-feature__excerpt.
        キャリアアップというとふわっとしたイメージですが、今よりスキルを磨いてリーダーやマネージャーなど役職につき
        社内でのポジションを高めていくのも一つですし、会社を飛び出し自分がどこまで通用するのか知るというのも手です。
        「自分自身の市場価値」を知る事で、これから先３年・５年・１０年と働いていく中で、
        どういった目標をもってどの道に進むのかを知る手がかりになります。具体的にどのように転職活動を進めていくべきかお伝えします。
