.content
  .header.c-newarrival__title 今週の新着・更新求人特集
.content
  span.ui.sub.header.c-newarrival__logo リクナビNEXT
  .ui.small.feed
    .event
      .content
        .summary
          a.c-newarrival__link(href="#")
            ul.c-newarrival__list
              li.c-newarrival__item 三井住友信託銀行
              li.c-newarrival__item アミューズ
              li.c-newarrival__item 本田技研工業
              li.c-newarrival__item アマゾン ウェブ サービス ジャパン
              li.c-newarrival__item 博報堂
              li.c-newarrival__item アメリカン・エキスプレス・ジャパン
              li.c-newarrival__item 順天堂大学
              li.c-newarrival__item 日本アイビーエム・ソリューション・サービス
              li.c-newarrival__item 積水化学工業
              li.c-newarrival__item 日本オラクル
              li.c-newarrival__item 丸紅新電力
              li.c-newarrival__item サイバー・コミュニケーションズ
              li.c-newarrival__item 他
.extra.content
  p 現在サイトに掲載中の求人数
    span.c-newarrival__count 90,889
    |件
    br
    span.c-newarrival__updatedat 最終更新日
      time(datetime="2017-02-27") 2017.02.27
