.c-pickup.l-row.l-md-row
  a.c-pickup__item.c-pickup__site.l-col-lg-6.l-col-md-6(href="#")                 
      p.c-pickup__title 結局どのサイトがいいの？みんなのクチコミから選ぶ、転職サイト総合ランキング           
  a.c-pickup__item.c-pickup__agent.l-col-lg-6.l-col-md-6(href="#") 
    p.c-pickup__title 結局どのサイトがいいの？みんなのクチコミから選ぶ、転職サイト総合ランキング                  
