.c-ranking
  h2.l-section_title 転職サイト / 転職エージェント徹底比較ランキング
  .c-ranking__item.l-row
    .c-ranking__thumb.c-ranking__site.l-col
    a.c-ranking__link.l-col(href="#")
      h3.c-ranking__lead みんなが選ぶ、転職サイトランキング
      p.c-ranking__excerpt.
        転職サイトなんてどこも同じ。そう思っていませんか？職種や年齢によって向いている転職サイトはさまざま。 あなたのタイプに応じてピッタリの転職サイトが見つかります。
  .c-ranking__item.l-row
    .c-ranking__thumb.c-ranking__agent.l-col
    a.c-ranking__link.l-col(href="#")
      h3.c-ranking__lead 決定版！転職エージェントランキング
      p.c-ranking__excerpt.
        転職エージェントってスキルが高い人、ヘッドハンティングされるような人がつかうものだと思っていませんか？ 実は利用者だけでいえば、若手や第二新卒の人が多くもっと身近なものなんです。まずは調べてみませんか。
  .c-ranking__item.l-row
    .c-ranking__thumb.c-ranking__itweb.l-col
    a.c-ranking__link.l-col(href="#")
      h3.c-ranking__lead IT系転職サイト・エージェントランキング
      p.c-ranking__excerpt.
        Webプロデューサー・プランナー・ディレクター・Webデザイナー・UI/UXデザイナー・ Webエンジニア・アプリケーションエンジニア・SE・インフラエンジニア・Webマーケター向け転職サイト・エージェントランキングです。
  .c-ranking__item.l-row
    .c-ranking__thumb.c-ranking__haken.l-col
    a.c-ranking__link.l-col(href="#")
      h3.c-ranking__lead 派遣サイトランキング
      p.c-ranking__excerpt.
        仕事もほどほどにやりながら、プライベートを両方充実させたいという方なら派遣で働くというのも一つの手です。 ここでは複数ある派遣サイトを目的に合わせてどのように使い分けるべきか、お伝えします。
