.c-search
  h2.l-section_title 掲載している求人から転職サービスをさがす
  .l-search_by.l-search_by_work
    h3 領域・職種からさがす
    ul.c-search__list
      .l-row.l-md-row.is-sp
        li.c-search__item.l-col-lg-3.l-col-md-3.u-ml13
          a.c-search__link.c-search__itweb(href="#")
            span.c-search__meta.u-p2em IT / Web
        li.c-search__item.l-col-lg-3.l-col-md-3.u-ml13
          a.c-search__link.c-search__creative(href="#")
            span.c-search__meta.u-p2em クリエイティブ
        li.c-search__item.l-col-lg-3.l-col-md-3.u-ml13
          a.c-search__link.c-search__bkoffice(href="#")
            span.c-search__meta.u-p05em バックオフィス
              br
              small 一般/専門事務・総務・財務・経理・法務・人事など
        li.c-search__item.l-col-lg-3.l-col-md-3.u-ml13
          a.c-search__link.c-search__sales(href="#")
            span.c-search__meta.u-p2em 営業
      .l-row.l-md-row.is-sp
        li.c-search__item.l-col-lg-3.l-col-md-3.u-ml13
          a.c-search__link.c-search__medical(href="#")
            span.c-search__meta.u-p2em 医療
        li.c-search__item.l-col-lg-3.l-col-md-3.u-ml13
          a.c-search__link.c-search__food(href="#")
            span.c-search__meta.u-p2em 飲食
        li.c-search__item.l-col-lg-3.l-col-md-3.u-ml13
          a.c-search__link.c-search__logi(href="#")
            span.c-search__meta.u-p1em 運輸・物流
              br
              |警備・設備管理
        li.c-search__item.l-col-lg-3.l-col-md-3.u-ml13
          a.c-search__link.c-search__care(href="#")
            span.c-search__meta.u-p2em 介護・福祉・保育
      .l-row.l-md-row.is-sp
        li.c-search__item.l-col-lg-3.l-col-md-3.u-ml13
          a.c-search__link.c-search__marke(href="#")
            span.c-search__meta.u-p05em 企画
              br
              small 経営・事業・商品企画
                br
                |マーケティング、管理職
        li.c-search__item.l-col-lg-3.l-col-md-3.u-ml13
          a.c-search__link.c-search__edu(href="#")
            span.c-search__meta.u-p2em 教育
        li.c-search__item.l-col-lg-3.l-col-md-3.u-ml13
          a.c-search__link.c-search__finance(href="#")
            span.c-search__meta.u-p2em 金融                        
        li.c-search__item.l-col-lg-3.l-col-md-3.u-ml13
          a.c-search__link.c-search__estate(href="#")
            span.c-search__meta.u-p1em 不動産・建築
              br
              |設計・土木
      .l-row.l-md-row.is-sp
        li.c-search__item.l-col-lg-3.l-col-md-3.u-ml13
          a.c-search__link.c-search__service(href="#")
            span.c-search__meta.u-p2em 販売・サービス
        li.c-search__item.l-col-lg-3.l-col-md-3.u-ml13
          a.c-search__link.c-search__prod(href="#")
            span.c-search__meta.u-p1em 製造・生産
              br
              |開発・研究職
        li.c-search__item.l-col-lg-3.l-col-md-3.u-ml13
          a.c-search__link.c-search__prof(href="#")
            span.c-search__meta.u-p1em 専門職
              br
              small コンサルタント・士業等
        li.c-search__item.l-col-lg-3.l-col-md-3.u-ml13
          a.c-search__link.c-search__other(href="#")
            span.c-search__meta.u-p2em その他
  .l-search_by.l-search_by_area
    h3 勤務地からさがす
    ul.c-search__list
      .l-row.l-md-row.is-sp
        li.c-search__item.l-col-lg-3.l-col-md-3.u-ml13
          a.c-search__link.c-search__hokkaido(href="#")
            span.c-search__meta.u-p2em 北海道
        li.c-search__item.l-col-lg-3.l-col-md-3.u-ml13
          a.c-search__link.c-search__tohoku(href="#")
            span.c-search__meta.u-p2em 東北
        li.c-search__item.l-col-lg-3.l-col-md-3.u-ml13
          a.c-search__link.c-search__kanto(href="#")
            span.c-search__meta.u-p2em 関東
        li.c-search__item.l-col-lg-3.l-col-md-3.u-ml13
          a.c-search__link.c-search__tokai(href="#")
            span.c-search__meta.u-p2em 東海
      .l-row.l-md-row.is-sp
        li.c-search__item.l-col-lg-3.l-col-md-3.u-ml13
          a.c-search__link.c-search__hokushin(href="#")
            span.c-search__meta.u-p2em 北信越
        li.c-search__item.l-col-lg-3.l-col-md-3.u-ml13
          a.c-search__link.c-search__kansai(href="#")
            span.c-search__meta.u-p2em 関西
        li.c-search__item.l-col-lg-3.l-col-md-3.u-ml13
          a.c-search__link.c-search__chushikoku(href="#")
            span.c-search__meta.u-p2em 中国・四国
        li.c-search__item.l-col-lg-3.l-col-md-3.u-ml13
          a.c-search__link.c-search__kyushu(href="#")
            span.c-search__meta.u-p2em 九州・沖縄
